

#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    max-width: 850px;
    margin: 0 auto;    
}

a.active {
    color:orange;    
}

nav {
    padding-top:20px;
}

#bariatric-inputs {
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 400px;
}

#bariatric-outputs {
    max-width: 400px;
}

.slider-wrapper {
    position: relative;
    padding: 0px 16px;
  }

.slider-wrapper label {
    position: absolute;
    top: 0px;
    width: 12px;
    height: 12px;
    font-size: 9px;
    font-weight: normal;
  }

  .slider-wrapper label:first-child {
    left: 0;
  }
  
  .slider-wrapper label:last-child {
    right: 0;
  }